.image-gen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.image-gen-inner {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-gen-spinner {
  position: relative;
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  animation: rotateSpinner 10s infinite linear;
}

.image-gen-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #61dafb;
  border-bottom-color: #61dafb;
  animation: spinCircle 1.5s infinite linear;
}

.image-gen-circle:nth-child(1) {
  transform: rotateX(70deg) rotateY(0deg);
  animation-delay: 0s;
}

.image-gen-circle:nth-child(2) {
  transform: rotateX(70deg) rotateY(90deg);
  animation-delay: -0.3s;
}

.image-gen-circle:nth-child(3) {
  transform: rotateX(70deg) rotateY(180deg);
  animation-delay: -0.6s;
}

.image-gen-circle:nth-child(4) {
  transform: rotateX(70deg) rotateY(270deg);
  animation-delay: -0.9s;
}

@keyframes rotateSpinner {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes spinCircle {
  0% {
    transform: rotateX(70deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(70deg) rotateY(360deg);
  }
}

@media (max-width: 768px) {
  .image-gen-spinner {
    width: 100px;
    height: 100px;
  }
  .image-gen-circle {
    width: 80px;
    height: 80px;
    border-width: 4px;
  }
}

@media (max-width: 480px) {
  .image-gen-spinner {
    width: 80px;
    height: 80px;
  }
  .image-gen-circle {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
}